{{> header}}
<div style="background-color: #fff6f6;height: 100%">
    <div class="container cart">
        <div class="text-center">
            <p class="h3">Your cart: {{count}} item</p>
        </div>
        <div class="row cart-content">
            <div class="col-12 col-md-9 col-lg-9">
                <table class="table table-cart">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each productOfCart}}
                            <tr>
                                <td>
                                    <div class="product-cart">
                                        <div class="image-p-cart">
                                            <img class="image-c-p-card" src="{{image}}" alt="image">
                                        </div>
                                        <div class="name-product-cart">
                                            <p class="name">{{name}}</p>
                                            <p class="author">{{manufacturer}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="content" id="price-{{id}}">{{unitStock}} {{price}}</p>
                                </td>
                                <td>
                                    <div class="wrapper">
                                        <span class="minus" onclick="remove({{id}})">-</span>
                                        <span class="num" id="{{id}}">{{quantity}}</span>
                                        <span class="plus" onclick="add({{id}})">+</span>
                                    </div>
                                </td>
                                <td>
                                    <p class="content" id="total-{{id}}">{{total}}</p>
                                </td>
                                <td>
                                    <div class="text-center mt-5">
                                        <i style="font-size: 30px" class="bi bi-x"></i>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="order">
                    <div class="order-SubTotal">
                        <p class="h6">
                            Cart Totals
                        </p>
                        <div class="sub-content">
                            <p>Subtotal</p>
                            <p>$ <sm id="total-price">{{total}}</sm></p>
                        </div>
                        <div class="sub-content">
                            <p>Shipping</p>
                            <p id="shipping">Free Shipping</p>
                        </div>
                    </div>
                    <div class="order-ship">
                        <p class="h6">Shipping</p>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="shipping" id="flexRadioDefault1" onclick="changeShipping(this)" value="0" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Free shipping
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="shipping" id="flexRadioDefault1" onclick="changeShipping(this)" value="15">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Flat rate: $15
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="shipping" id="flexRadioDefault1" onclick="changeShipping(this)" value="8">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Local pickup: $8
                                </label>
                            </div>
                            <div style="display: flex;justify-content: space-between;margin-top: 10px">
                                <p>Shipping to turkey:</p>
                                <div type="button" class="text-danger" data-bs-toggle="modal" data-bs-target="#changeAddress">Change Address</div>
                            </div>
                        </div>
                    </div>
                    <div class="order-total">
                        <p class="h6">Total</p>
                        <p>
                            $ <sm id="total-price-order">{{total}}</sm>
                        </p>
                    </div>
                    <div class="text-center">
                        <div class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#order">
                            Place Order
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
<!-- Modal -->
<div class="modal fade" id="changeAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Shipping Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="countryId">Country</label>
                    <select name="country" class="countries form-control" id="countryId">
                        <option value="{{address.country}}">{{address.country}}</option>
                    </select>
                    <span class="err" id="err-country"></span>
                </div>
                <div class="mb-3">
                    <label for="stateId">State</label>
                    <select name="state" class="states form-control" id="stateId">
                        <option value="{{address.state}}">{{address.state}}</option>
                    </select>
                    <span class="err" id="err-state"></span>
                </div>
                <div class="mb-3">
                    <label for="cityId">City</label>
                    <select name="city" class="cities form-control" id="cityId">
                        <option value="{{address.city}}">{{address.city}}</option>
                    </select>
                    <span class="err" id="err-city"></span>
                </div>
                <div class="mb-3">
                    <form action="/cart/address" method="post" id="form-address">
                        <input style="display: none" type="text" name="country" id="country">
                        <input style="display: none" type="text" name="state" id="state">
                        <input style="display: none" type="text" name="city" id="city">
                        <label for="address" class="form-label">Address</label>
                        <textarea class="form-control" id="address" rows="4" name="address">{{address.address}}</textarea>
                        <span class="err" id="err-address"></span>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="changeAddress()">Change address</button>
            </div>
        </div>
    </div>
</div>

<!--Modal order-->
<div class="modal fade" id="order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please confirm your order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="order-title">
                    <p>Total: <sm id="total-order"></sm></p>
                    <p>Payment method: Direct payment</p>
                </div>
                <h5>Order detail</h5>
                {{#each productOfCart}}
                <div class="order-detail">
                        <div class="header-product-detail">
                            <div>
                                <p>{{name}}</p>
                                <p>({{manufacturer}})</p>
                            </div>
                            <div class="quantity-product">
                                X<sm id="quantity-{{id}}">{{quantity}} </sm>
                            </div>
                        </div>
                        <div>
                            $ <sm id="price-order-{{id}}">{{total}}</sm>
                        </div>
                </div>
                {{/each}}
                <hr style="color: grey">
                <div class="order-content">
                    <p>
                        Subtotal:
                    </p>
                    <p>
                        $ <sm id="sub-order-price"></sm>
                    </p>
                </div>
                <div class="order-content">
                    <p>
                        Shipping:
                    </p>
                    <p>
                        Free Shipping
                    </p>
                </div>
                <div class="order-content">
                    <p>
                        Payment Method:
                    </p>
                    <p>
                        Direct payment
                    </p>
                </div>
                <hr style="color: grey">
                <div class="total-order">
                    <p>
                        Total
                    </p>
                    <p>
                        $ <sm id="total-order-final"></sm>
                    </p>
                </div>
                <hr style="color: grey">
                <h4>Shipping Address</h4>
                <p>Country: {{address.country}}</p>
                <p>State: {{address.state}}</p>
                <p>City: {{address.city}}</p>
                <p>Address: {{address.address}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="">Order</button>
            </div>
        </div>
    </div>
</div>
